<form class="form" [formGroup]="form" (ngSubmit)="process()" novalidate>

  <div class="form-group">
    <input type="text"   formControlName="name" class="form-control"
    placeholder="Nom et prénom" >
  </div>
  <div class="alert alert-danger" *ngIf="checkError('name')">champ invalide</div>

  <div class="form-group">
    <input type="text"  formControlName="reference" class="form-control"
    placeholder="Référence" >
  </div>
  <div class="alert alert-danger" *ngIf="checkError('reference')">champ invalide</div>

  <div class="form-group">
    <select class="form-control"  formControlName="state">
      <option [ngValue]="stateChoiceList.ALIVRER">A livrer</option>
      <option [ngValue]="stateChoiceList.ENCOURS">En cours</option>
      <option [ngValue]="stateChoiceList.LIVREE">Livrée</option>
    </select>
  </div>

  <div class="form-group">
    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
